
[[if actions:]]
<h1 class="title is-5">Actions in Progress</h1>
[[if eventrow.status=='Open':]]
<table id=actions class='table issuetable2 is-bordered is-striped is-narrow'>
				<thead>
					<tr>
                        <th width="80%">Action</th>
                        <th>Answer</th>
                    </tr>
                </thead>
                    <tbody>
[[for i,row in enumerate(actions):]]
<tr>
<td>[[=row.question.questiontext]]
    <div id='btns[[=str(row.question.id)]]'></div></td>

    <td>[[if auth.user_id:]]
        <INPUT TYPE=button  [[=get_disabled(1, row.userquestion.answer)]]
           class="[[=get_class('action',1)]]" onclick="quickanswer('[[=row.question.id]]','1',this)"
           VALUE="Approve">
    <INPUT TYPE=button  [[=get_disabled(2, row.userquestion.answer)]]
           class="[[=get_class('action', 2)]]" onclick="quickanswer('[[=row.question.id]]','2',this)"
           VALUE="Disapprove">
    [[else:]]
        Login to feedback
        [[pass]]
    </td>
</tr>
[[pass]]
</tbody>
</table>
[[else:]]
<table id=actions class='table issuetable2 is-bordered is-striped is-narrow'>
				<thead>
					<tr>
                        <th width="80%">Action</th>
                        <th>Answer</th>
                    </tr>
                </thead>
                    <tbody>
[[for i,row in enumerate(actions):]]
<tr>
<td>[[=row.eventmap.questiontext]]
    <div id='btns[[=str(row.eventmap.id)]]'></div></td>

    <td>[[if auth.user_id:]]
        <INPUT TYPE=button  [[=get_disabled(1, row.userquestion.answer)]]
           class="[[=get_class('action',1)]]" onclick="quickanswer('[[=row.eventmap.questid]]','1',this)"
           VALUE="Approve">
    <INPUT TYPE=button  [[=get_disabled(2, row.userquestion.answer)]]
           class="[[=get_class('action', 2)]]" onclick="quickanswer('[[=row.eventmap.questid]]','2',this)"
           VALUE="Disapprove">
    [[else:]]
        Login to feedback
        [[pass]]
    </td>
</tr>
[[pass]]
</tbody>
</table>
[[pass]]
[[pass]]
<script>
$('#actions').DataTable({responsive: true, paging: false, searching:false, info: false});
</script>
[[pass]]
