[[import datetime]]
[[if res_actions:]]
<br>
<h1 class="title is-5">Resolved Actions</h1>
<table id=res_actions class='table issuetable2 is-bordered is-striped is-narrow'>
				<thead>
					<tr>
                        <th width="52%">Action</th>
                        <th width="12%">Due Date</th>
                        <th width="12%">Responsible</th>
                        <th width="12%">% Complete</th>
                        <th width="12%">Feedback</th>
                    </tr>
                </thead>
                    <tbody>
[[for i,row in enumerate(res_actions):]]
<tr id="[[=row.question.id]]">
<td><div>[[=row.question.questiontext]]</div>
    <div class="has-text-right"><sub class="has-text-left">[[=row.question.numlike]] Like[[='s ' if row.question.numlike >1 else ' ']]
   <button class="button is-small is-info is-rounded [[=row.liked and 'is-success' or '']]"
           hx-post="[[=URL('like/'+str(row.question.id))]]"
           hx-swap="innerHTML">
           [[=row.liked and 'UnLike' or 'Like']]</button>
    <INPUT TYPE=button class="button is-small is-info is-rounded"  onClick="parent.location='[[=URL('viewquest/'+str(row.question.id))]]'"VALUE="Details"/>
    <div id='btns[[=str(row.question.id)]]' hx-swap-oob="true"></div></sub></div></td>
<td><input class="form-control"  name="duedate" type="date" value="[[if row.question.enddate:
=row.question.enddate.date().strftime('%Y-%m-%d')
    else:
    ''
    pass]]"> </td>
<td>
    <input autocomplete="on" class="type-string form-control" name="question_responsible" type="text"
           size="16" value="[[=row.question.responsible]]" style="width:80%;"></td>
    <td> <input id="complete" type = "range" name="compslider"  min="0"    max="100"
                value="[[=row.question.perccomplete]]" step="5"  /></td>
    <td>[[if auth.user_id:]]
        <INPUT TYPE=button  [[=get_disabled(1, row.userquestion.answer)]]
           class="[[=get_class('action',1)]]" onclick="quickanswer('[[=row.question.id]]','1',this)",
           VALUE="Approve">
    <INPUT TYPE=button  [[=get_disabled(2, row.userquestion.answer)]]
           class="[[=get_class('action', 2)]]" onclick="quickanswer('[[=row.question.id]]','2',this)",
           VALUE="Disapprove">
    [[else:]]
        Login to feedback [[pass]]
    </td>
</tr>
[[pass]]
</tbody>
</table>
[[pass]]
<script>
    [[include "action_res.js"]]
</script>
