
[[if res_actions:]]
<br>
<h1 class="title is-4">Resolved Actions</h1>
<table id=res_actions class='table issuetable2 table-bordered table-condensed'>
				<thead>
					<tr>
                        <th width="50%">Action</th>
                        <th>Due Date</th>
                        <th class="min-tablet-p">Resp</th>
                        <th class="min-tablet-p">% Complete</th>
                        <th class="min-tablet-p">Feedback</th>
                    </tr>
                </thead>
                    <tbody>
[[for i,row in enumerate(res_actions):]]
<tr id="[[=row.question.id]]">
<td>[[=row.question.questiontext]]
    <div id='btns[[=str(row.question.id)]]'></div></td>
<td>[[if row.question.enddate:]][[=prettydate(row.question.enddate.date())]][[pass]]</td>
<td>[[=row.question.responsible]]</td>
    <td> <input id="complete" type = "range" name="compslider"  min="0"    max="100" value="[[=row.question.perccomplete]]" step="5"  /></td>
    <td><INPUT TYPE=button  [[=get_disabled(1, row.userquestion.answer)]]
           class="[[=get_class('action',1)]]" onclick="quickanswer('[[=row.question.id]]','1')",
           VALUE="Approve">
    <INPUT TYPE=button  [[=get_disabled(2, row.userquestion.answer)]]
           class="[[=get_class('action', 2)]]" onclick="quickanswer('[[=row.question.id]]','2')",
           VALUE="Disapprove"></td>
</tr>
[[pass]]
</tbody>
</table>
[[pass]]

<script>
$('#res_actions').DataTable({responsive: true, paging: false, searching:false, info: false});
$('#res_actions').on('change', 'input', function () {
    var row = $(this).closest('tr');
        console.log('I fired');
        var data1 = row.find("input[type='range']").val();
    Q.ajax("POST", "[[=URL('perccomplete')]]", {
            questid: row.attr('id'),
            perccomplete: data1
        }).then(onsuccess).catch(onerror);

});

</script>
[[pass]]