[[import datetime]]
[[if comp_actions:]]
<br>
<h1 class="h5">Completed Actions</h1>
<table id=comp_actions class='table issuetable2 table-striped table-bordered border-warning'>
				<thead>
					<tr>
                        <th width="60%">Action</th>
                        <th width="10%">Due Date</th>
                        <th width="10%">Resp</th>
                        <th width="10%">% Complete</th>
                        <th width="10%">Feedback</th>
                    </tr>
                </thead>
                    <tbody>
[[for i,row in enumerate(comp_actions):]]
<tr id="[[=row.eventmap.questid]]">
<td>[[=XML(markmin2html(row.eventmap.questiontext))]]
    <div id='btns[[=str(row.eventmap.questid)]]'></div></td>
<td>[[if row.eventmap.enddate:
    =row.eventmap.enddate.date().strftime('%Y-%m-%d')
    else:
    ''
    pass]] </td>
<td>[[=row.eventmap.responsible]]</td>
    <td> <input id="complete" type = "range" disabled title="Event is archived" name="compslider"  min="0"    max="100"
                value="[[=row.eventmap.perccomplete]]" step="5"/></td>
    <td><INPUT TYPE=button  [[=get_disabled(1, row.userquestion.answer)]]
           class="[[=get_class('action',1)]]" onclick="quickanswer('[[=row.eventmap.questid]]','1',this)",
           VALUE="Approve">
    <INPUT TYPE=button  [[=get_disabled(2, row.userquestion.answer)]]
           class="[[=get_class('action', 2)]]" onclick="quickanswer('[[=row.eventmap.questid]]','2',this)",
           VALUE="Disapprove"></td>
</tr>
[[pass]]
</tbody>
</table>
[[pass]]
<script>
[[include 'action_comp.js']]
</script>