[[from markmin import markmin2html]]
[[from yatl.helpers import XML]]
[[import datetime]]
[[if res_actions:]]
<br>
<h1 class="h5">Resolved Actions</h1>
<table id=res_actions class='table issuetable2 table-bordered table-striped border-warning'>
				<thead>
					<tr>
                        <th width="52%">Action</th>
                        <th width="12%">Due Date</th>
                        <th width="12%">Responsible</th>
                        <th width="12%">% Complete</th>
                        <th width="12%">Feedback</th>
                    </tr>
                </thead>
                    <tbody>
[[for i,row in enumerate(res_actions):]]
<tr id="[[=row.eventmap.questid]]">
<td>[[=XML(markmin2html(row.eventmap.questiontext))]]
   <button class="button btn-sml btn-info [[=row.liked and 'btn-success' or '']]"
           hx-post="[[=URL(f"like/{row.eventmap.questid}")]]"
           hx-swap="innerHTML">
           [[=row.liked and 'UnLike' or 'Like']]</button>
    <INPUT TYPE=button class="btn btn-small btn-info"  onClick="parent.location='[[=URL(f"viewquest/{row.eventmap.questid}")]]'"VALUE="Details"/>
    <div id='btns[[=str(row.eventmap.questid)]]'></div><sub>Likes: [[=row.eventmap.numlike]]</sub></td>
<td>[[if row.eventmap.enddate:
    =row.eventmap.enddate.date().strftime('%Y-%m-%d')
    else:
    ''
    pass]]</td>
<td>[[=row.eventmap.responsible]]</td>
    <td> <input id="complete" type = "range" disabled title="Event is archived" name="compslider"  min="0"    max="100"
                value="[[=row.eventmap.perccomplete]]" step="5"  /></td>
    <td>[[if auth.user_id:]]
        <INPUT TYPE=button  [[=get_disabled(1, row.userquestion.answer)]]
           class="[[=get_class('action',1)]] mb-1" onclick="quickanswer('[[=row.eventmap.questid]]','1',this)",
           VALUE="Approve">
    <INPUT TYPE=button  [[=get_disabled(2, row.userquestion.answer)]]
           class="[[=get_class('action', 2)]]" onclick="quickanswer('[[=row.eventmap.questid]]','2',this)",
           VALUE="Disapprove">
    [[else:]]
        Login to feedback [[pass]]
    </td>
</tr>
[[pass]]
</tbody>
</table>
[[pass]]
<script>
    [[include "action_res.js"]]
</script>