[[import datetime]]
[[if comp_actions:]]
<br>
<h1 class="h5">Completed Actions</h1>
<table id=comp_actions class='table issuetable2 table-striped table-bordered border-warning'>
				<thead class='table-warning'>
					<tr>
                        <th width="60%">Action</th>
                        <th width="10%">Due Date</th>
                        <th width="10%">Resp</th>
                        <th width="10%">% Complete</th>
                        <th width="10%">Feedback</th>
                    </tr>
                </thead>
                    <tbody>
[[for i,row in enumerate(comp_actions):]]
<tr id="[[=row.question.id]]">
<td>[[=XML(markmin2html(row.question.questiontext))]]
            <div class="has-text-right"><sub>[[=row.question.numlike]] Like[[='s  ' if row.question.numlike >1 else '  ']]
                 <button class="btn btn-sml btn-info [[=row.liked and 'btn-success' or '']]"
           hx-post="[[=URL(f"like/{row.question.id}")]]"
           hx-swap="innerHTML">
           [[=row.liked and 'UnLike' or 'Like']]</button>
    <INPUT TYPE=button class="btn btn-sml btn-info"  onClick="parent.location='[[=URL(f"viewquest/{row.question.id}")]]'"VALUE="Details"/>
    <div id='btns[[=str(row.question.id)]]' hx-swap-oob="true"></div></sub></div></td>
<td><input class="form-control"  name="duedate" type="date" value="[[if row.question.enddate:
    =row.question.enddate.date().strftime('%Y-%m-%d')
    else:
    ''
    pass]]"> </td>
<td><input autocomplete="on" class="type-string form-control" name="question_responsible" type="text" size="16" value="[[=row.question.responsible]]" style="width:80%;"></td>
    <td> <input id="complete" type = "range" name="compslider"  min="0"    max="100" value="[[=row.question.perccomplete]]" step="5"  /></td>
    <td><INPUT TYPE=button  [[=get_disabled(1, row.userquestion.answer)]]
           class="[[=get_class('action',1)]]" onclick="quickanswer('[[=row.question.id]]','1',this)",
           VALUE="Approve">
    <INPUT TYPE=button  [[=get_disabled(2, row.userquestion.answer)]]
           class="[[=get_class('action', 2)]]" onclick="quickanswer('[[=row.question.id]]','2',this)",
           VALUE="Disapprove"></td>
</tr>
[[pass]]
</tbody>
</table>
[[pass]]
<script>
[[include 'action_comp.js']]
</script>