[[if qactions:]]
<h1 class="h5">Actions in Progress</h1>
<table id=actions class='table issuetable2 table-bordered border-warning'>
				<thead>
					<tr>
                        <th>Action</th>
                        <th>Answer</th>
                    </tr>
                </thead>
                    <tbody>
[[for i,row in enumerate(qactions):]]
<tr>
<td>[[=row.eventmap.questiontext]]
    <div id='btns[[=str(row.eventmap.id)]]'></div></td>

    <td>[[if auth.user_id:]]
        <INPUT TYPE=button  [[=get_disabled(1, row.userquestion.answer)]]
           class="[[=get_class('action',1)]]" onclick="quickanswer('[[=row.eventmap.questid]]','1',this)"
           VALUE="Approve">
    <INPUT TYPE=button  [[=get_disabled(2, row.userquestion.answer)]]
           class="[[=get_class('action', 2)]]" onclick="quickanswer('[[=row.eventmap.questid]]','2',this)"
           VALUE="Disapprove">
    [[else:]]
        Login to feedback
        [[pass]]
    </td>
</tr>
[[pass]]
</tbody>
</table>
[[pass]]

