[[extend 'layoutbs.html']]
<div class="container" style="padding-top: 1em;">
    [[if 'action' in request.url_args and request.url_args['action'] == 'details':]]
        [[form = grid.render()]]
        [[=form]]
    [[else:]]
        [[=grid.render()]]
    [[pass]]
</div>
<div><p>This view is filtered to open events intially click [[=A('here for archived events.', _href=URL('event_redirect/Archived'))]]
    or [[=A('here for all events.', _href=URL('event_redirect/All'))]] </p></div>

<script>
    $(document).ready(function() {
        if (window.screen.availWidth <= 1200) {
            $(".grid-col-event-status").hide();
            $(".grid-cell-event-status").hide();
            $(".grid-col-locn-location_name").hide();
            $(".grid-cell-locn-location_name").hide();
            $(".grid-col-project-proj_name").hide();
            $(".grid-cell-project-proj_name").hide()
            $(".grid-col-event-enddatetime").hide();
            $(".grid-cell-event-enddatetime").hide();
        }
        if (window.screen.availWidth <= 800) {
            $(".grid-col-event-startdatetime").hide();
            $(".grid-cell-event-startdatetime").hide();
        }
    });
</script>