[[extend 'layoutbs.html']]
[[if eventrow:]]
<h4>Event: [[=eventrow['event_name'] ]]</h4>
[[else:]]
<h4>All Resolved Items</h4>
[[pass]]
[[include 'gantt.i']]
<br>
<p>Select an event and then choose this menu to see all actions from the event, alternatively go straight here or select
    <INPUT TYPE=button class="btn-sm btn-info" onClick="parent.location='[[=URL("allgantt")]]'",
           VALUE="All Events"></p>
<h4>Key</h4>
<table class="table table-bordered border-success"><tr>
    <td><span class = "gtaskyellow">Yellow</span>: Complete</td>
    <td><span class = "gtaskred">Red</span>: Overdue</td>
    <td><span class = "gtaskblue">Blue </span>: Not due to start</td>
    <td><span class = "gtaskgreen">Green </span>: On track</td>
    <td><span class = "gtaskpurple">Purple </span>: Behind schedule</td></tr></table>
