[[extend 'layout.html']]

<div class="section">
  <div class="vars">
<p>Some blurb.</p>
  </div>
</div>

[[include 'issue.html']]
[[include 'question.html']]
[[include 'action.html']]

<script type="text/javascript">
    var onsuccess = function(res) {
    console.log('success');
    };
    var onerror = function(res) {
        alert('ERROR in call');
    };

    function quickanswer(questid, answer) {
        Q.ajax("POST", "[[=URL('quickanswer')]]", {
            questid: questid,
            answer: answer
        }).then(onsuccess).catch(onerror);
    }

$(document).ready(function() {
      Q.flash({'message':'hello there', 'class':'info'});
      });

</script>