
[[if issues:]]
<table id=issues class='table issuetable2 table-bordered table-condensed'>
				<thead>
					<tr>
						<th width="10%">Status</th>
                        <th width="80%">Issue</th>
                        <th width="10%">Answer</th>
                    </tr>
                </thead>
                    <tbody>
[[for row in issues:]]
<tr>
<th>[[=row.question.status]]</th>
<td>[[=row.question.questiontext]]
    <div id='btns[[=str(row.question.id)]]'></div></td>
<td><INPUT TYPE=button  [[=get_disabled(1, row.userquestion.answer)]]
           class="[[=get_class('action',1)]]" onclick="quickanswer('[[=row.question.id]]','1')",
           VALUE="Agree">
    <INPUT TYPE=button  [[=get_disabled(2, row.userquestion.answer)]]
           class="[[=get_class('action', 2)]]" onclick="quickanswer('[[=row.question.id]]','2')",
           VALUE="Disagree"></td>
</tr>
[[pass]]
</tbody>
</table>
[[pass]]
<script>
$('#issues').DataTable({responsive: true, paging: false, searching:false});
</script>
[[pass]]