
[[if issues:]]
<table id=issues class='table issuetable2 table-bordered table-condensed'>
				<thead>
					<tr>
						<th width="10%">Status</th>
                        <th width="90%">Issue</th>
                    </tr>
                </thead>
                    <tbody>
[[for row in issues:]]
<tr>
<th>[[=row.question.status]]</th>
<td>[[=row.question.questiontext]]
<div id='btns[[=str(row.question.id)]]'>
=get_buttons(row.question.qtype, row.question.status, row.question.resolvemethod, row.id, row.auth_userid, auth.user_id, False, source)</td>
</tr>
[[pass]]
</tbody>
</table>
[[pass]]
<script>
$('#issues').DataTable({responsive: true, paging: false, searching:false});
</script>
[[pass]]