[[extend 'layout.html']]
<div class="container" style="padding-top: 1em;">
    [[if 'action' in request.url_args and request.url_args['action'] == 'details':]]
        [[form = grid.render()]]
        [[=form]]
    [[else:]]
        [[=grid.render()]]
    [[pass]]
</div>

<script>
    $(document).ready(function() {
               if (window.screen.availWidth <= 1000) {
                   $(".grid-col-locn\\.addrcode").hide();
        }
        if (window.screen.availWidth <= 422) {
                   $(".grid-col-locn\\.address1").hide();
                   $(".grid-col-locn\\.address2").hide();
        }
    });
</script>