[[if questions:]]
<h1>Questions</h1>
<table id=questions class='table issuetable2 table-bordered table-condensed'>
				<thead>
					<tr>
						<th width="10%">Status</th>
                        <th width="40%">Question</th>
                        <th width="5%">F/O</th>
                        <th width="20%">Answer(s)</th>
                        <th width="25%" class="min-tablet-p">Notes</th>
                    </tr>
                </thead>
                    <tbody>
[[for row in questions:]]
<tr>
<th>[[=row.question.status]]</th>
<td>[[=row.question.questiontext]]
<div id='btns[[=str(row.question.id)]]'></div></td>
<td>[[=row.question.factopinion]]</td>
<td>[[=row.question.answer1]]
    <INPUT TYPE=BUTTON title="Click to Answer" class="btn btn-warning  btn-sm" onclick="quickanswer('[[=row.question.id]]','1')", VALUE="Yes">
    <br>[[=row.question.answer2]]
<INPUT TYPE=BUTTON title="Click to Answer" class="btn btn-warning  btn-sm" onclick="quickanswer('[[=row.question.id]]','2')", VALUE="Yes"></td>
    <td>[[=row.question.notes]]</td>
</tr>
[[pass]]
</tbody>
</table>

<script>
$('#questions').DataTable({responsive: true, paging: false, searching:false});
</script>
[[pass]]