[[extend 'layoutbs.html']]
<div class="container" style="padding-top: 1em;">
    [[if 'action' in request.url_args and request.url_args['action'] == 'details':]]
        [[form = grid.render()]]
        [[=form]]
    [[else:]]
        [[=grid.render()]]
    [[pass]]
</div>

<script>
    $(document).ready(function() {
        if (window.screen.availWidth <= 1200) {
            $(".grid-col-project-proj_name").hide();
            $(".grid-cell-project-proj_name").hide();
        }
        if (window.screen.availWidth <= 800) {
            $(".grid-col-project-event_name").hide();
            $(".grid-cell-project-event_name").hide();
        }
    });
</script>