[[if res_questions:]]
<br>
<h1 class="title h5">Resolved Questions</h1>
<table id=quest_resolved class='table issuetable2 table-bordered border-success'>
				<thead class='table-success'>
					<tr>
                        <th>Question</th>
                        <th>F/O</th>
                        <th>Resolved Answer</th>
                        <th class="is-hidden-touch">Notes</th>
                    </tr>
                </thead>
                    <tbody>
[[for row in res_questions:]]
<tr>
<td>[[=XML(markmin2html(row.question.questiontext))]]
<div id='btns[[=str(row.question.id)]]'></div></td>
<td class="has-text-centered">[[=row.question.factopinion]]</td>
<td class="has-text-centered">[[=row.question.answer1 if row.question.correctans==1 else row.question.answer2]]</td>
    <td>[[=row.question.notes]]</td>
</tr>
[[pass]]
</tbody>
</table>
[[pass]]
