[[extend 'layout.html']]
<h1 class="title is-4">[[=quest['qtype'].capitalize() ]]</h1>
<p>[[=quest['questiontext'] ]]</p>

<p>[[=quest['media_id'] ]]</p>
<h2 class="title  is-5">Status</h2>
[[if quest['status'] == 'Resolved':]]
[[if quest['qtype'] == 'quest':]]
<p>Users have decided the correct answer is [[=quest.correctanstext()]]</p>
[[else:]]
<p>This [[=quest['qtype'] ]] is approved.</p>
[[pass]]
[[pass]]
<p>[[=viewtext]]

<div id="newchart">
    <h2 class="title is-5">Answer Analysis</h2>
[[if quest.factopinion == 'Opinion':]]
<p>This question has been answered [[=quest.numanswer1 + quest.numanswer2]] times. You can answer or change your answer using the buttons below.</p>
[[pass]]
    </div>

<INPUT TYPE=button  [[=get_disabled(1, uq and uq.answer)]]
           class="[[=get_class('action',1)]]" onclick="quickanswer('[[=quest.id]]','1',this)",
           VALUE="[[=quest.answer1]]">
    <INPUT TYPE=button  [[=get_disabled(2, uq and uq.answer)]] title="Click to Answer"
           class="[[=get_class('action', 2)]]" onclick="quickanswer('[[=quest.id]]','2',this)",
           VALUE="[[=quest.answer2]]">
</p>

<p> [[=quest.numanswer1]] users have answered [[=quest.answer1]]
    and [[=quest.numanswer2]] users have answered [[=quest.answer2]] </p>
[[pass]]

<div id="target"></div>

<h2 class="title is-5">Urgency and importance</h2>
<p>[[=urgmessage]]</p>
<table id='TabUrgency' class="table table-bordered table-condensed">
				<thead>
					<tr>
						<th width="20%"></th>
                        <th width="40%">Urgency</th>
                        <th width="40%">Importance</th>
                    </tr>
                </thead>
                    <tbody>
                    <tr>
                        <th>Overall</th>
                        <td><input id="qurgslide" type = "range" name="qurgslider"  min="1"    max="11" value="[[=quest['urgency'] ]]" step="1" disabled /></td>
                        <td><input id="qimpslide" type = "range" name="qimpslider"  min="1"    max="11" value="[[=quest['importance'] ]]" step="1" disabled/></td>
                    </tr>
                    <tr>
                        <th>You</th>
                        <td><input id="urgslide" type = "range" name="urgslider"  min="1"    max="11" value="[[=uqrated and ur.urgency or 5]]" step="1"/></td>
                        <td><input id="impslide" type = "range" name="impslider"  min="1"    max="11" value="[[=uqrated and ur.importance or 5]]" step="1"/></td>
                    </tr>
                    </tbody>
                </table>

<script>
var questid = "[[=quest['id'] ]]";
/* above is used by viewquest.js for urgency and importance changes */
</script>

[[if can_edit:]]
<div>
     <INPUT TYPE=BUTTON class="button is-small is-rounded" onClick="parent.location='[[=URL('new_question/'+str(quest['id']))]]'" VALUE="Edit"></p>
</div>
[[pass]]
[[if quest['notes']:]]
<div><h1 class="subtitle is-4">Notes</h1>
<p>[[=quest['notes'] ]]</p>
    </div>
[[pass]]

[[if quest['qtype'] == 'action' and quest['status'] == 'Resolved':]]
<div><h1 class="subtitle is-4">Execution Status</h1>
<p>This action is reported as [[=(quest.perccomplete or 0)]] percent complete and [[=(quest.responsible or 'nobody')]] is responsible for
    ensuring it gets completed.  The target for completion is [[if quest.enddate:
=quest.enddate.date().strftime('%Y-%m-%d')
    else:
    ''
    pass]]. </p>
[[pass]]
<div>
<ajax-component id="comments" url="[[=URL('getcomments/'+str(quest['id']))]]">
    <p>Loading...</p>
</ajax-component>
    <p>[[=commentform]]</p>
    </div>
