[[from markmin import markmin2html]]
[[from yatl.helpers import XML]]
[[extend 'layoutbs.html']]

<h1  class=" title is-6 h_inline">[[=quest['qtype'].capitalize()]]:</h1>
<p class="h_inline">[[=quest['questiontext'] ]]</p>

[[include 'questmedia.i']]
<br>
[[if quest['question_url']: ]]
<h2  class=" title is-6 h_inline">Link: </h2><p class="h_inline"><a href=[[=quest['question_url'] ]] target="_blank">
    [[=quest['question_url'] ]]</a>  Link is external content and opens in a new tab</p>
[[pass]]

<div>
<h2  class=" title is-6 h_inline">Status:</h2> <p class="h_inline">
    [[if quest['status'] == 'Resolved':]]
[[if quest['qtype'] == 'quest':]]
<p class="h_inline">Users have decided the correct answer is [[=quest.correctanstext]]</p>
[[else:]]
<p class="h_inline">This [[=quest['qtype'] ]] is approved.</p>
[[pass]]
[[pass]]
<p class="h_inline">[[=viewtext]]
</div>

<div id="newchart">
    <h2 class="title is-6 h_inline">Answer Analysis</h2>
[[if quest.factopinion == 'Opinion':]]
<p class="h_inline">This question has been answered [[=quest.numanswer1 + quest.numanswer2]] times. You can answer or change your answer using the buttons.

<INPUT TYPE=button  [[=get_disabled(1, uq and uq.answer)]]
           class="[[=get_class('action',1)]]" onclick="quickanswer('[[=quest.id]]','1',this)",
           VALUE="[[=quest.answer1]]">
    <INPUT TYPE=button  [[=get_disabled(2, uq and uq.answer)]] title="Click to Answer"
           class="[[=get_class('action', 2)]]" onclick="quickanswer('[[=quest.id]]','2',this)",
           VALUE="[[=quest.answer2]]">
</p>
    [[pass]]
    </div>
<p> [[=quest.numanswer1]] users have answered [[=quest.answer1]]
    and [[=quest.numanswer2]] users have answered [[=quest.answer2]] </p>
[[pass]]

<div id="target"></div>

<h2 class="title is-5">Urgency and importance</h2>
<p>[[=urgmessage]]</p>
<table id='TabUrgency' class="table table-bordered table-condensed">
				<thead>
					<tr>
						<th width="20%"></th>
                        <th width="40%">Urgency</th>
                        <th width="40%">Importance</th>
                    </tr>
                </thead>
                    <tbody>
                    <tr>
                        <th>Overall</th>
                        <td><input id="qurgslide" type = "range" name="qurgslider"  min="1"    max="11" value="[[=quest['urgency'] ]]" step="1" disabled /></td>
                        <td><input id="qimpslide" type = "range" name="qimpslider"  min="1"    max="11" value="[[=quest['importance'] ]]" step="1" disabled/></td>
                    </tr>
                    <tr>
                        <th>You</th>
                        <td><input id="urgslide" type = "range" name="urgslider"  min="1"    max="11" value="[[=uqrated and ur.urgency or 5]]" step="1"/></td>
                        <td><input id="impslide" type = "range" name="impslider"  min="1"    max="11" value="[[=uqrated and ur.importance or 5]]" step="1"/></td>
                    </tr>
                    </tbody>
                </table>

<script>
var questid = "[[=quest['id'] ]]";
/* above is used by viewquest.js for urgency and importance changes */
</script>

[[if can_edit:]]
<div>
     <INPUT TYPE=BUTTON class="button is-small is-rounded"
            onClick="parent.location='[[=URL('new_question/'+str(quest['id'])+'/'+quest['qtype']+'/'+str(eventid)+'/0/0/view_event')]]'" VALUE="Edit"></p>
</div>
[[pass]]
[[if quest['notes']:]]
<div><h1 class="subtitle is-4">Notes</h1>
<p>[[=quest['notes'] ]]</p>
    </div>
[[pass]]

[[if quest['qtype'] == 'action' and quest['status'] == 'Resolved':]]
<div><h1 class="subtitle is-4">Execution Status</h1>
<p>This action is reported as [[=(quest.perccomplete or 0)]] percent complete and [[=(quest.responsible or 'nobody')]] is responsible for
    ensuring it gets completed.  The target for completion is [[if quest.enddate:
=quest.enddate.date().strftime('%Y-%m-%d')
    else:
    ''
    pass]]. </p>
[[pass]]
    </div>
<div>
<ajax-component id="comments" url="[[=URL('getcomments/'+str(quest['id']))]]">
    <p>Loading...</p>
    </ajax-component>
    <p>[[=commentform]]</p>
    </div>
[[if quest['media_id']:]]
    <iframe style="border:none;" width="550" height="400"
            data-tweet-url="https://twitter.com/newglobalstrat/status/[[=quest['media_id'] ]]"
            src="data:text/html;charset=utf-8,%3Cblockquote%20class%3D%22twitter-tweet%22%3E%3Cp%20lang%3D%22en%22%20dir%3D%22ltr%22%3ELet%26%2339%3Bs%20get%20an%20aligned%20structure%20for%20moving%20the%20world%20forward%20in%20a%20fairer%20manner%3C/p%3E%26mdash%3B%20Russ%20King%20%28@newglobalstrat%29%20%3Ca%20href%3D%22https%3A//twitter.com/newglobalstrat/status/1517593650473144323%3Fref_src%3Dtwsrc%255Etfw%22%3EApril%2022%2C%202022%3C/a%3E%3C/blockquote%3E%0A%3Cscript%20async%20src%3D%22https%3A//platform.twitter.com/widgets.js%22%20charset%3D%22utf-8%22%3E%3C/script%3E%0A">
    </iframe>
    [[pass]]

  <script>
 [[include 'viewquest.js']]
 </script>