[[extend 'layout.html']]
[[load_graph=True]]

[[include 'eventdetails.i']]

[[include 'issue.html']]
[[include 'question.html']]
[[include 'question_resolved.html']]
[[include 'action.html']]
[[include 'action_resolved.html']]

[[include 'eventmap.i']]

 <script>
 [[include 'vieweventmapd3v4.js']]
 </script>

 <script>
 [[include 'quickanswer.js']]
 </script>



<script>
 document.querySelectorAll('.modal-button').forEach(function(el) {
  el.addEventListener('click', function() {
    var target = document.querySelector(el.getAttribute('data-target'));
    target.classList.add('is-active');
    target.querySelector('.mode-close').addEventListener('click',   function() {
        target.classList.remove('is-active');
     });
  });
});
</script>