[[from markmin import markmin2html]]
[[from yatl.helpers import XML]]
[[extend 'layoutbs.html']]
[[load_graph=False]]

[[include 'projdetails.i']]
[[include 'eventlist.i']]

[[include 'issue.html']]
[[include 'question.html']]
[[include 'question_resolved.html']]
[[include 'action.html']]
[[include 'action_resolved.html']]
[[#include 'gantt.i']]
[[include 'action_complete.html']]

<div>
<ajax-component id="comments" url="[[=URL('getcomments/'+str(projectid)+'/project')]]">
    <p>Loading...</p>
</ajax-component>
    <p>[[=commentform]]</p>
    </div>

 <script>
 [[include 'quickanswer.js']]
 </script>
