[[from markmin import markmin2html]]
[[from yatl.helpers import XML]]
[[extend 'layoutbs.html']]
[[load_graph=True]]
<div class="container-fluid gx-5">

<table id='TabSummary' class="table table-bordered"><thead>
<tr><th>[[=quest['qtype'].capitalize()]]:</th>
<th id="questiontext">[[=quest['questiontext'] ]]</th>
[[include 'questmedia.i']]
</tr></thead>
    <tbody>
[[if quest['question_url']: ]]
<tr><th>Link: </th><td class="h_inline"><a href=[[=quest['question_url'] ]] target="_blank">
    [[=quest['question_url'] ]]</a>  Link is external content and opens in a new tab</td></tr>
[[pass]]


<tr><th>Status:</th> <td>
    [[if quest['status'] == 'Resolved':]]
[[if quest['qtype'] == 'quest':]]
[[=anstext]]
[[else:]]
This [[=quest['qtype'] ]] is approved.
[[pass]]
[[pass]]
[[=viewtext]]
</td></tr>

[[if quest['factopinion'] == 'Opinion':]]
<tr>
<th>Answer Analysis</th>
<td>
This [[=qname]] has been answered [[=quest.numanswer1 + quest.numanswer2]] times. You can answer or change your answer using the buttons.

<INPUT TYPE=button  [[=get_disabled(1, uq and uq.answer)]]
           class="[[=get_class('action',1)]]" onclick="quickanswer('[[=quest.id]]','1',this)",
           VALUE="[[=quest.answer1]]">
    <INPUT TYPE=button  [[=get_disabled(2, uq and uq.answer)]] title="Click to Answer"
           class="[[=get_class('action', 2)]]" onclick="quickanswer('[[=quest.id]]','2',this)",
           VALUE="[[=quest.answer2]]">
</td>
</tr>
<tr><td></td>
<td> [[=quest.numanswer1]] users have answered [[=quest.answer1]]
    and [[=quest.numanswer2]] users have answered [[=quest.answer2]] </td>
</tr>
</tbody>
</table>

    <div id="newchart">
       </div>
<div id="target"></div>

<h2 class="title h5">Urgency and importance</h2>
<p>[[=urgmessage]]</p>
<table id='TabUrgency' class="table table-bordered">
				<thead>
					<tr>
						<th width="20%"></th>
                        <th width="40%">Urgency</th>
                        <th width="40%">Importance</th>
                    </tr>
                </thead>
                    <tbody>
                    <tr>
                        <th>Overall</th>
                        <td><input id="qurgslide" type = "range" name="qurgslider"  min="1"    max="11" value="[[=quest['urgency'] ]]" step="1" disabled /></td>
                        <td><input id="qimpslide" type = "range" name="qimpslider"  min="1"    max="11" value="[[=quest['importance'] ]]" step="1" disabled/></td>
                    </tr>
                    <tr>
                        <th>You</th>
                        <td><input id="urgslide" type = "range" name="urgslider"  min="1"    max="11" value="[[=uqrated and ur.urgency or 5]]" step="1"/></td>
                        <td><input id="impslide" type = "range" name="impslider"  min="1"    max="11" value="[[=uqrated and ur.importance or 5]]" step="1"/></td>
                    </tr>
                    <tr>
                        <th>AI Review</th>
                        <td id="ai_review">[[if got_ai=='yes':]]
                            [[=ai_review.review]]
                        [[pass]]</td>
                    </tr>
                    <tr>
<td>You can now use AI to suggest 3 related items and if appropriate you create them as related items</td>
    <td>Click for Open AI suggested:<br> <INPUT TYPE=button class="btn btn-primary btn-sm"
           onClick="openai_lookup('gen_issues')" VALUE="Related Issues">
<INPUT TYPE=button class="btn btn-success btn-sm"
           onClick="openai_lookup('questions')" VALUE="Related Questions">
<INPUT TYPE=button class="btn btn-warning btn-sm"
           onClick="openai_lookup('actions')" VALUE="Related Actions">
</td>
    <td><INPUT TYPE=button class="btn btn-primary btn-sm"
           onClick="parent.location='[[=URL(f"new_question/None/issue/{quest['eventid']}/0/0/view_event/{quest['id']}")]]'" VALUE="Linked Issue">
<INPUT TYPE=button class="btn btn-success btn-sm"
           onClick="parent.location='[[=URL(f"new_question/None/quest/{quest['eventid']}/0/0/view_event/{quest['id']}")]]'" VALUE="Linked Question">
<INPUT TYPE=button class="btn btn-warning btn-sm"
           onClick="parent.location='[[=URL(f"new_question/None/action/{quest['eventid']}/0/0/view_event/{quest['id']}")]]'" VALUE="Linked Action">
</td>
</tr>
                    </tbody>
                </table>
    [[pass]]
    [[pass]]
    <div id="ai_response"></div>
<script>
var questid = "[[=quest['id'] ]]";
var got_ai = "[[=got_ai]]"
/* above is used by viewquest.js for urgency and importance changes and triggering AI Review if not got */
</script>


<div class="btn-toolbar ">

    [[if can_edit:]]
  <INPUT TYPE=BUTTON class="btn btn-sm btn-primary mx-1"
            onClick="parent.location='[[=URL(f"new_question/{quest['id']}/{quest['qtype']}/{quest['eventid']}/0/0/view_event")]]'" VALUE="Edit"></p>
[[pass]]
 <INPUT TYPE=BUTTON class="btn btn-sm btn-info mx-1"
            onClick="parent.location='[[=URL(f"view_event/{quest['eventid']}")]]'" VALUE="Event">
</div>

[[if quest['aianswer']:]]
<div><h1 class="subtitle h4">Knowledge Engine Notes ([[=chosenai]])</h1>
<p>[[=quest['aianswer'] ]]</p>
    </div>
[[pass]]


[[if quest['notes']:]]
<div><h1 class="subtitle h4">Notes</h1>
<p>[[=quest['notes'] ]]</p>
    </div>
[[pass]]

[[if quest['qtype'] == 'action' and quest['status'] == 'Resolved':]]
<div><h1 class="subtitle h4">Execution Status</h1>
<p>This action is reported as [[=(quest.perccomplete or 0)]] percent complete and [[=(quest.responsible or 'nobody')]] is responsible for
    ensuring it gets completed.  The target for completion is [[if quest.enddate:
=quest.enddate.date().strftime('%Y-%m-%d')
    else:
    ''
    pass]]. </p>
[[pass]]
[[include 'eventmap.i']]

     <script>
 [[include 'vieweventmapd3v4.js']]
 </script>

<ajax-component id="comments" url="[[=URL(f"getcomments/{quest['id']}")]]">
    <p>Loading...</p>
    </ajax-component>
    <p>[[=commentform]]</p>
    </div>
[[if quest['media_id']:]]
    <iframe style="border:none;" width="550" height="400"
            data-tweet-url="https://twitter.com/newglobalstrat/status/[[=quest['media_id'] ]]"
            src="data:text/html;charset=utf-8,%3Cblockquote%20class%3D%22twitter-tweet%22%3E%3Cp%20lang%3D%22en%22%20dir%3D%22ltr%22%3ELet%26%2339%3Bs%20get%20an%20aligned%20structure%20for%20moving%20the%20world%20forward%20in%20a%20fairer%20manner%3C/p%3E%26mdash%3B%20Russ%20King%20%28@newglobalstrat%29%20%3Ca%20href%3D%22https%3A//twitter.com/newglobalstrat/status/1517593650473144323%3Fref_src%3Dtwsrc%255Etfw%22%3EApril%2022%2C%202022%3C/a%3E%3C/blockquote%3E%0A%3Cscript%20async%20src%3D%22https%3A//platform.twitter.com/widgets.js%22%20charset%3D%22utf-8%22%3E%3C/script%3E%0A">
    </iframe>
    [[pass]]
  <script>
 [[include 'viewquest.js']]
 </script>
 </div>