[[extend 'layout.html']]
[[load_graph=True]]

[[include 'eventdetails.i']]

[[include 'issue.html']]
[[if eventrow['status']=='Open':]]
[[include 'question.html']]
[[include 'question_resolved.html']]
[[include 'action.html']]
[[include 'action_resolved.html']]
[[else:]]
[[print('Iam here')]]
[[include 'question_arch.html']]
[[include 'question_resolved_arch.html']]
[[include 'action_arch.html']]
[[include 'action_resolved_arch.html']]
[[pass]]

[[pass]]
[[include 'eventmap.i']]

<div>
<ajax-component id="comments" url="[[=URL('getcomments/'+str(eventid)+'/event')]]">
    <p>Loading...</p>
</ajax-component>
    <p>[[=commentform]]</p>
    </div>

 <script>
 [[include 'vieweventmapd3v4.js']]
 </script>

 <script>
 [[include 'quickanswer.js']]
 </script>

[[if eventrow.status=='Open':]]
[[include 'action_complete.html']]
[[else:]]
[[include 'action_complete_arch.html']]
[[pass]]

<script>
 document.querySelectorAll('.modal-button').forEach(function(el) {
  el.addEventListener('click', function() {
    var target = document.querySelector(el.getAttribute('data-target'));
    target.classList.add('is-active');
    target.querySelector('.mode-close').addEventListener('click',   function() {
        target.classList.remove('is-active');
     });
  });
});
</script>